[Desktop Entry]
Name=Language Configuration
Name[ja]=
Comment=Configure language
Comment[ja]=
Icon=dateconfig.png
Exec=/usr/bin/redhat-config-language
Type=Application
Terminal=false
