[Unit]
Description=firstboot configuration program (text mode)
After=livesys.service plymouth-quit.service
Before=systemd-user-sessions.service
Conflicts=firstboot-graphical.service plymouth-quit.service

[Service]
Type=oneshot
ExecStartPre=-/bin/plymouth quit
ExecStart=/usr/sbin/firstboot-text
ExecStartPost=/bin/systemctl disable firstboot-graphical.service firstboot-text.service
TimeoutSec=0
RemainAfterExit=yes
SysVStartPriority=99
StandardInput=tty

[Install]
WantedBy=multi-user.target
