[Unit]
Description=firstboot configuration program (graphical mode)
After=livesys.service
Before=prefdm.service
Conflicts=firstboot-text.service

[Service]
Environment=RUNLEVEL=5
ExecStartPre=-/bin/plymouth quit
ExecStart=/etc/init.d/firstboot start
TimeoutSec=0
StandardInput=tty
RemainAfterExit=yes
Type=oneshot

[Install]
WantedBy=graphical.target
